
.social {
	position: fixed;
	display: block;
	width: 30px;
	margin-left: 10px;
}

.fb {
	width: 40px;
	height: 40px;
}

.tweet {
	width: 40px;
	height: 40px;
}

h1 {
	position: fixed;
	font-family: lucida;
	font-size: 2em;
	letter-spacing: 2px;
	color: #b30000;
	margin-top: 20px;
	margin-left: 80px;
}

.menu {
	position: fixed;
	float: right;
	top: 70px;
	right: 0;
	font-variant: small-caps;
	letter-spacing: 3px;
	list-style-type: none;
	width: 490px;
	background-color: black;
}

li {
	display: inline;
	padding: 30px;
}

a {
	color: #ff1a1a;
	text-decoration: none;
	font-family: lucida;
	font-size: 20px;
}

#main {
	clear: left;
	position: fixed;
	display: block;
	margin-top: 160px;
	margin-left: 40px;
}




